html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
}

.base-container {
  min-width: 300px;
  min-height: 400px;
  box-shadow: 0px 0px 20px 2px rgba(15, 15, 15, 0.2);
  padding: 25px;
}

.header {
  width: 100%;
  font-family: Oxygen, sans-serif;
  font-size: 22px;
  text-align: center;
}

.no-todo-container {
  border: 1px solid rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 5px 10px rgba(15, 15, 15, 0.2);
} 

.todo-container {
  border: 1px solid rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 5px 10px rgba(15, 15, 15, 0.2);
}

.todo-item {
  width: 300px;
  height: 20px;
  position: absolute;
  background-color: #F44336;
  color: #FFFFFF;
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  padding: 7px;
  margin: 10px 0 10px 0;
  box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
  border-radius: 3px;
  cursor: pointer;
}

.snap {
  width: 301px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.over {
  background-color: rgba(15, 15, 15, 0.2);
  border: 2px solid #F44336;
  border-radius: 5px;
}